#contact-info {
	font-size: 0.8em;
}

#contact-info:hover {
  font-size: 1.2em;
}

ul li {
  color: gray;
}

.job {
	background-color: #e9e5dc;
	border-radius: 30px;
	padding: 8px;
	margin-top: 15px;
}

.accomplishments {
	font-size: 0.8em;
}