img {
	display: block;
	position: absolute;
	
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;

}

#octopus {
	z-index: 1;
}

#hat {
	z-index: 3;
}

#glasses {
	z-index: 2;
}